<footer class="footer-corporate bg-secondary-1">
  <div class="container">
    <div class="footer-corporate__inner"><a class="brand" href="index.html"><%= image_tag 'logo-191x51.svg', alt: 'Logo', width: '120' %></a>
      <dl class="list-terms-minimal">
        <dd>24/7 Service</dd>
      </dl>
      <p class="rights">2025 Empire Discovery</p>
      <dl class="list-terms-minimal">
        <dd><a href="mailto:info@empirediscovery.com">info@empirediscovery.com</a></dd>
      </dl>
      <ul class="list-inline-xxs">
        <li><a class="icon icon-xxs icon-primary fa fa-linkedin" href="https://www.linkedin.com/company/empire-discovery/"></a></li>
        <li>
          <%= link_to "https://twitter.com/EmpireDiscovery", target: "_blank", rel: "noopener" do %>
            <%= image_tag "Xlogo.png", alt: "X (Twitter)", class: "img-fluid", style: "height: 12px; " %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
