<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-md-10">
        <article class="post-wide text-center">
          <h3 class="heading-decorated">Locations</h3>
          <br>
          <div class="row">
            <div class="col-12 col-lg-6">
              <ul>
                <li><h6 style="line-height:2.5">148 Madison Ave 9th Floor, New York, NY 10016</h6></li>
                <li><h6 style="line-height:2.5">812 Neighbor Lane Suite 1, Lexington, SC 29072</h6></li>
                <li><h6 style="line-height:2.5">2225 Windswept Drive, Suite 1, Austin, TX 78746</h6></li>
                <li><h6 style="line-height:2.5">22 N. 3rd Street, Philadelphia, PA, 19106</h6></li>
                <li><h6 style="line-height:2.5">60 State Street, Boston, MA 02109</h6></li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <ul>
                <li><h6 style="line-height:2.5">9301 Largo Drive, Suite 201B, Upper Marlboro, MD 20774</h6></li>
                <li><h6 style="line-height:2.5">20,000 E. Country Club Drive, Aventura, FLA 33180</h6></li>
                <li><h6 style="line-height:2.5">500 W. Putnam Ave, Greenwich, CT 06830</h6></li>
                <li><h6 style="line-height:2.5">499 N. Broadway, White Plains, NY, 10603</h6></li>
                <li><h6 style="line-height:2.5">106 Main Street, Burlington, VT 05401</h6></li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'shared/contact_form' %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDmc4W2bInzVyPwwFybKoNZxJEZZlPKng&callback=initMap">
</script>

